.App {
  margin: 60px auto;
  max-width: 960px;
  font-family: 'Mooli', sans-serif;
}

.container {
  max-width: 720px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #abcc63;
  box-shadow: 10px 10px 15px #566731; 
  color: #212813;
}

.header {
  text-align: center;
}

.header > h1,  .header > h2{
  color: #1c2014;
}